/*Styling done to all the pages*/
	body {
		margin: 0;
	}

/*The naviagtion bar at the top of the screen*/
	#navbar {
		padding: 0;
		overflow: hidden;
		background-color: #003768;
		width: 100%;
		margin: 0;
	}
	li {
		list-style-type: none;
		float: right;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 40px 50px;
		text-decoration: none;
		font-size: 20px;
		cursor: pointer;
	}
	/*Changes text color on hover*/
	li a:hover {
		color: #fcca17;
		transition: .2s;
	}
	/*Class to change navbar button background on active page*/
	.active {
		background-color: #002D54;
	}
	h2 {
		color: white;
		padding-left: 10px;
		padding-top: 2%;
	}

/*Form formatting*/
	form {
		padding: 5px;
		width: 60%;
	}
	.form-cell {
		display: inline-block;
		padding:4px;
	}
	/*Removes arrows from number input*/
	input[type=number] {
	-moz-appearance: textfield;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}
	textarea {
		width: 98%;
	}
	legend {
		font-size: 30px;
	}
	label {
		font-size: 25px;
	}
	h1 {
		font-size: 50px;
	}
	form {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

/*Images styling*/
	#logo {
		width:40%;
		z-index: 1;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#school {
		width: 100%;
		height:600px;
		overflow: hidden;
	}

/*Main styling*/
	#refuse {
		float: left;
		padding-left: 10px;
	}
	#service {
		background-color: #fcca17;
		border-color: #fcca17;
		border-width:2px;
		border-style: solid;
		transition: .2s;
		color: #003768;
		padding: 50px 50px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
	}
	#service:hover {
		background-color: white;
		border-color: #fcca17;
	}
	#contact {
		background-color: #fcca17;
		border-color: #fcca17;
		border-width:2px;
		border-style: solid;
		transition: .2s;
		color: #003768;
		padding: 50px 100px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
	}
	#contact:hover {
		background-color: white;
		border-color: #fcca17;
	}
	#button_links {
		float: right;
		padding-right: 7%;
		padding-top: 2%;
	}