/*Styling done to all the pages*/
	body {
		margin: 0;
	}
	* {
		box-sizing: border-box;
	}
	#main {
		margin: 10px;
	}
/*The naviagtion bar at the top of the screen*/
	#navbar {
		padding: 0;
		overflow: hidden;
		background-color: lightblue;
		width: 100%;
		margin: 0;
		display: flex-block;
	}
	li {
		list-style-type: none;
		float: right;
	}
	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 20px 20px;
		text-decoration: none;
		font-size: 20px;
		cursor: pointer;
	}
	/*Changes text color on hover*/
	li a:hover {
		color: darkgray;
		transition: .2s;
	}
	/*Class to change navbar button background on active page*/
	.active {
		background-color: skyblue;
	}
	h2 {
		color: white;
		padding-left: 10px;
		padding-bottom: 0;
		float: left;
	}
	
/*Table styling*/
	table, th, td {
		padding: 5px;
		border: 1px solid black;
		border-collapse: collapse;
	}
	td {
		word-break: break-word;
	}
